@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  max-width: 700px;
  margin: 5rem auto;
  padding: 1rem;
  background-color: #eee;
  border-radius: .3rem;
}

/* 表組をgrid SP版 */
.table {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: auto;
  margin: .75rem 0;
  padding: .25rem 0;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
}

dl > .item {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 0;
  line-height: 1.2;
}

.item:not(:last-of-type) {
  border-bottom: 1px solid #333;
}

dl > dd.item.title {
  padding: 0;
  padding-left: 1rem;
}

@media screen and (max-width: 600px) {
  .table {
    grid-template-columns: none;
    margin: .75rem 0;
    padding: 1rem 0;
    border-top: 3px solid #999;
    border-bottom: 3px solid #999;
  }

  dl > .item.title {
    padding: 0 0 .5rem;
    border-bottom: 1px dotted #333;
  }

  dl > dd.item {
    display: block;
    padding: .5rem 0 2rem;
  }
  
  dl > dd.item:not(:last-of-type) {
    border-bottom: none;
  }

  dl > dd.item:last-of-type {
    padding-bottom: 0;
  }
}


/* 表組をgrid PC版 */
/* .table {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: auto;
  padding: .25rem 0;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
}

dl > .item {
  padding: 1rem 2rem 1rem 0;
  line-height: 1.2;
}

.item:not(:last-of-type) {
  border-bottom: 1px solid #333;
}

dl > .item.title {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 1rem;
} */


/* 1frで可変幅 */
/* .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

img {
  display: block;
  max-width: 100%;
} */
