@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  display: grid;
  place-items: center;
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
}

.grid-container {
  display: grid;
  /* 横幅を数値で指定 */
  /* grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem; */

  /* 横幅を割合で指定 */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* width: 600px; */

  /* autoで内容の大きさギリギリいっぱい＋残りをfrの割合で按分する */
  /* grid-template-columns: auto 1fr 1fr; */
  /* width: 600px; */

  /* 最小と最大値を指定 */
  /* grid-template-columns: minmax(5rem, 10rem) 10rem 10rem ;
  grid-template-rows: 10rem 10rem 10rem ; */
  
  /* 繰返しの効率化 */
  grid-template-columns: minmax(5rem, 10rem) repeat(2, 10rem);
  grid-template-rows: repeat(3, 10rem);
}

.grid-container > li {
  padding: 1rem;
  background-color: #999;
  border-bottom: 1px solid #333;
}